[submodule "temp-board-rewrite"]
	path = temp-board-rewrite
	url = https://github.com/rutgers-fsae/temp-board-rewrite
[submodule "rfr-daq"]
	path = rfr-daq
	url = https://github.com/rutgers-fsae/daq-website
